body{
	font-family: "Raleway", sans-serif;
	margin: 0px auto;
}
.logo {
    width: 95px;
    height: 45px;
}
header {
    margin: 0px 20px 0px 20px;
}
#hautdepage {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.activites {
    margin-left: inherit;
}
.inscrire {
    margin-left: inherit;
}
#hautdepage {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#hautdepage nav a {
	font-size: 12px;
	text-decoration: none;
	padding: 20px;
}
a{
    text-decoration: none;
}
a:hover
{
   text-decoration: overline;
   color: blue;
}
.hebergement, .activites {
	color:black;
}
.hebergement:hover {
    border-top: 2px solid blue;
}
.activites:hover {
    border-top: 2px solid blue;
}
.inscrire:hover {
    border-top: 2px solid blue;
}
.inscrire {
    color: blue;
}
#recherche-marseille {
    margin: 0px 20px 0px 20px;
}
.Marseille {
    width: auto;
}
.Marseille {
    border: 1px solid whitesmoke;
    width: 130px;
    padding: 10px;
    font-weight: bold;
    color: black;
    margin-left: -5px;  
 }
.recherche:hover {
     background-color: white;
    color: blue;
}
.recherche {
    background-color:#0651ff;
    border: 1px solid #0651ff;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    color: white;
    margin-left: -5px;
}
.localisation {
    width: 15px;
	background-color: #f2f2f2;
	padding: 10px 15px;
	border-radius: 15px 0 0 15px;
}
#critere {
    display: flex;
    margin: 0px 20px 0px 20px;
}
.list-filtres {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
    margin-top: 30px;
}
.filtre {
    display: flex;
    align-content: center;
}
.filtre-text {
    border: 1px solid #e5e4e4;
    width: auto;
    padding: 10px;
    font-weight: bold;
    color: black;
    padding-left: 25px;
    margin-left: -12px;
}
.filtre-text {
    border-radius: 0px 20px 20px 0px;
    border-left: white;
}
.eco {
    padding: 11px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #2651ff;
    margin-left: 50px;
}
.fam {
    padding: 14px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #2651ff;
    margin-left: 50px;
}
.love {
    padding: 12px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #2651ff;
    margin-left: 50px;
}
.chien {
    padding: 12px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #2651ff;
    margin-left: 50px;
}
.info {
    display: flex;
    flex-direction: row;
}
.fa-info {
    padding: 8px;
    border: 1px solid #f1f2f2;
    border-radius: 50%;
    height: 50%;
    color: #3e3bff;
}
#hebergement {
    display: flex;
    margin: 0px 20px 0px 20px;
}
h2 {
    flex-basis: 100%;
}
#marseille {
	display: flex;
    flex-direction: column;
	width: 62%;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	border-radius: 15px;
}
#marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.photo-marseille {
    width: 260px;
}
figure {
	width: 230px;
	height: 230px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px lightgrey

}
figcaption h3, figcaption p {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
    font-size: 1rem;
}
.image-hebergement {
    object-fit: cover;
	width: 220px;
    height: 140px;
	border-bottom: 0px;
	border-radius: 15px;
	border: 5px solid white;
}
h3 {
    display: flex;
    align-items: flex-end;
    align-content: flex-start;
    margin-left: 40px;
    flex-basis: 100%;
}
#populaire {
	width: 35%;
	margin-left: 30px;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	border-radius: 15px;
}
.titre {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.fa-chart-line {
    margin-top: 25px;
    margin-right: 40px;

}
.image-populaire {
    width: 120px;
    height: 130px;
    object-fit: cover;
    border-bottom: 0px;
	border-radius: 15px 0px 0px 15px;
	border: 5px solid white;
}
.photo-populaire {
    display: flex;
}
.photo-populaire {
	width: auto;
	height: 140px;
	border-radius: 15px;
	box-shadow: 5px 5px 10px lightgrey;
    margin-top: 40px;
}
.blue {
    color: blue;
}
.gray {
    color: darkgrey;
}
.etoile-bleu {
    color: blue;
}
.etoile-bleu1 {
    color: blue;
}
.gris1 {
    color: darkgrey;
}
.gris {
    color: darkgrey;
}
.etoile-bleu, .gris {
    padding-top: 64px;
}
.etoile-bleu1, .gris1 {
    padding-top: 50px;
}
#activites {
    margin: 0px 20px 0px 20px;
}
#activites-marseille {
    display: flex;
    flex-direction: row;
    width: auto;
}
.image-port-marseille {
    object-fit: cover;
	width: 270px;
    height: 340px;
	border-radius: 15px 10px 0px 0px;
}
.port {
    width: 270px;
    height: 380px;
}
.image-fort-marseille {
    object-fit: cover;
	width: 230px;
    height: 140px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.fort {
    width: 230px;
    height: 180px;
}
.image-ile-marseille {
    object-fit: cover;
	width: 230px;
    height: 120px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.ile {
    width: 230px;
    height: 160px;
}
.photo-activite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-parc-national-marseille {
    object-fit: cover;
	width: 270px;
    height: 340px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.parc-national {
    width: 270px;
    height: 380px;
}
.image-dame-marseille {
    object-fit: cover;
	width: 230px;
    height: 120px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.dame {
    width: 230px;
    height: 160px;
}
.image-parc-marseille {
    object-fit: cover;
	width: 230px;
    height: 140px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.parc {
    width: 230px;
    height: 180px;
}
#pieddepage {
   position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 120px;
}
footer {
    border: 1px solid white;
    background-color: #f2f2f2;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    color: black;
    margin-top: 10px;
}
@media screen and (max-width: 1280px) and (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
    }
    #recherche-marseille, #ville, #critere {
        width: 80%;
        margin-left: 10px;
    }
    .logo {
		width: 60px;
		height: 30px;
		margin-left: 20px;
		margin-top: 20px;
	}
    #hautdepage {
        width: 100%;
		flex-direction: column;
		align-items: flex-start;
    }
    #hautdepage nav ul {
        width: 100%;
		border-bottom: 2px solid #F2F2F2;
		padding: 0;
		padding-bottom: 20px;
    }
    #hautdepage nav li, #hautdepage nav a {
		margin: 0;
	}
	#hautdepage nav a {
		margin-right: 0;
		padding-right: 55px;
	}
	.inscrire {
		position: absolute;
		top: 10px;
		left: 70%;
	}
	.hebergement:hover, .activites:hover {
		color: #0065FC;
		border-bottom: none;
		border-top: none;
	}
	.Marseille {
		width: 60%;
	}
    footer {
        width: auto;
        flex-direction: column;
        align-items: left;
    }
}




