body{
	font-family: "Raleway", sans-serif;
	margin: 0px auto;
}
.logo {
    width: 95px;
    height: 45px;
    margin-top: 10px;
}
#hautdepage {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.activites {
    margin-left: inherit;
}
.inscrire {
    margin-left: inherit;
}
#hautdepage {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#hautdepage nav a {
	font-size: 12px;
	text-decoration: none;
	padding: 20px;
}
a{
    text-decoration: none;
}
a:hover
{
   text-decoration: overline;
   color: blue;
}
.hebergement, .activites {
	color:black;
}
.hebergement:hover {
    border-top: 2px solid blue;
}
.activites:hover {
    border-top: 2px solid blue;
}
.inscrire:hover {
    border-top: 2px solid blue;
}
.inscrire {
    color: blue;
}
.Marseille {
    width: auto;
}
.Marseille {
    border: 1px solid whitesmoke;
    width: 130px;
    padding: 10px;
    font-weight: bold;
    color: black;
    margin-left: -5px;  
 }
.recherche:hover {
     background-color: white;
    color: blue;
}
.recherche {
    background-color:#0651ff;
    border: 1px solid #0651ff;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    color: white;
    margin-left: -5px;
}
.localisation {
    width: 15px;
	background-color: #f2f2f2;
	padding: 10px 15px;
	border-radius: 15px 0 0 15px;
}
#critere {
    width: auto;
    display: flex;
}
.filtres {
	display: flex;
    flex-direction: row;
	justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 20px;
}
.eco {
    padding: 12px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #2651ff;
}
.fam {
    padding: 12px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #2651ff;
    left: 5px;
    margin-left: 20px;
}
.love {
    padding: 12px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #2651ff;
    margin-left: 20px;
}
.chien {
    padding: 12px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #2651ff;
    margin-left: 20px;
}
.filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filtre {
    border: 1px solid #e5e4e4;
    width: auto;
    padding: 10px;
    font-weight: bold;
    color: black;
    padding-left: 25px;
    margin-left: -12px;
}
.filtre {
    border-radius: 0px 20px 20px 0px;
    border-left: white;
}
.info {
    display: flex;
    flex-direction: row;
}
.fa-info {
    padding: 8px;
    border: 1px solid #f1f2f2;
    border-radius: 50%;
    height: 50%;
    color: #3e3bff;
}
.info, p {
    margin-left: 12px;
}
#hebergement {
    display: flex;
}
h2 {
    padding-left: 20px;
    flex-basis: 100%;
}
#marseille {
	display: flex;
    flex-direction: column;
	width: 80%;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	border-radius: 15px;
}
#marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
figure {
	width: 230px;
	height: 230px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px lightgrey

}
figcaption h3, figcaption p {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.image-hebergement {
    object-fit: cover;
	width: 220px;
    height: 140px;
	border-bottom: 0px;
	border-radius: 15px;
	border: 5px solid white;
}
.photo-marseille {
    margin-right: auto;
}
h3 {
    display: flex;
    align-items: flex-end;
    align-content: flex-start;
    margin-left: 40px;
}
#populaire {
	width: 30%;
	margin-left: 30px;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	border-radius: 15px;
}
.titre {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.fa-chart-line {
    margin-top: 25px;
    margin-right: 40px;
}
.image-populaire {
    width: 100px;
    height: 110px;
    object-fit: cover;
    border-bottom: 0px;
	border-radius: 15px 0px 0px 15px;
	border: 5px solid white;
}
.photo-populaire {
    display: flex;
}
.photo-populaire {
	width: auto;
	height: 120px;
	border-radius: 15px;
	box-shadow: 5px 5px 10px lightgrey;
    margin-top: 40px;
}
.blue {
    color: blue;
}
.gray {
    color: darkgrey;
}
#activites-marseille {
    display: flex;
    flex-direction: row;
    width: auto;
}
.image-port-marseille {
    object-fit: cover;
	width: 300px;
    height: 290px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.port {
    width: 300px;
    height: 330px;
}
.image-fort-marseille {
    object-fit: cover;
	width: 230px;
    height: 110px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.fort {
    width: 230px;
    height: 150px;
}
.image-ile-marseille {
    object-fit: cover;
	width: 230px;
    height: 90px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.ile {
    width: 230px;
    height: 130px;
}
.photo-activite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-parc-national-marseille {
    object-fit: cover;
	width: 300px;
    height: 290px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.parc-national {
    width: 300px;
    height: 330px;
}
.image-dame-marseille {
    object-fit: cover;
	width: 230px;
    height: 90px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.dame {
    width: 230px;
    height: 130px;
}
.image-parc-marseille {
    object-fit: cover;
	width: 230px;
    height: 110px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.parc {
    width: 230px;
    height: 150px;
}
#pieddepage {
   position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 120px;
}
footer {
    border: 1px solid white;
    background-color: #f2f2f2;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    color: black;
    margin-top: 10px;
}




