body{
	font-family: "Raleway", sans-serif;
	margin: 0px auto;
}

/* ----------- Header -----------*/

.logo {
    width: 95px;
    height: 45px;
    margin-left: 20px;
}
.entete {
    flex-basis: 80%;
}
#hautdepage {
    display: flex;
    justify-content: space-between;
}
.hebergement, .activites, .inscrire {
	font-size: 12px;
	text-decoration: none;
    padding-top: 20px;
}
.hebergement:hover,
.activites:hover,
.inscrire:hover {
    padding: 20px;
    border-top: 2px solid #0065FC;
}
.inscrire {
    margin-right: 20px;
}
#boutons_menu {
    display: flex;
}
.hebergerment, .activites:hover {
	border-top: 2px solid #0065FC;
    border-bottom: none;
    color: #0065FC;
}
.hebergement {
    color: #0065FC;
    border-bottom: none;
    border-top: 2px solid #0065FC;
    padding: 20px;
}
.activites {
	color: black;
    margin: 0px 30px 0px 30px;
}
.inscrire {
	color: #0065FC;
}
/* ----------- Section Recherche ----------- */

#recherche-marseille {
    margin: 0px 20px 0px 20px;
}
#recherche-marseille h2 {
    margin-top: 0px;
}
.Marseille {
    width: auto;
}
.Marseille {
    border: 1px solid #F2F2F2;
    width: 130px;
    padding: 10px;
    font-weight: bold;
    color: black;
    margin-left: -5px;  
 }
.recherche:hover {
     background-color: #F2F2F2;
    color: #0651ff;
}
.recherche {
    background-color:#0651ff;
    border: 1px solid #0651ff;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    color: #F2F2F2;
    margin-left: -5px;
}
.localisation {
    width: 15px;
	background-color: #F2F2F2;
	padding: 10px 15px;
	border-radius: 15px 0 0 15px;
}
.search {
    display: none;
}
.filtre {
    display: flex;
    align-content: center;
    margin-left: 60px;
}
.list-filtres {
    display: flex;
    margin-top: 15px;
}
.filtre-text {
    border: 1px solid #F2F2F2;
    width: auto;
    padding: 10px;
    font-weight: bold;
    color: black;
    padding-left: 25px;
    margin-left: -12px;
}
.filtre-text {
    border-radius: 0px 20px 20px 0px;
    border-left: #F2F2F2;
}
.eco {
    padding: 11px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #0065FC;
    margin-left: 50px;
}
.fam {
    padding: 14px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #0065FC;
    margin-left: 50px;
}
.love {
    padding: 12px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #0065FC;
    margin-left: 50px;
}
.chien {
    padding: 12px;
	background-color: #DFEDFF;
	border-radius: 50%;
	color: #0065FC;
    margin-left: 50px;
}
.info {
    display: flex;
    flex-direction: row;
}
.fa-info {
    padding: 8px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    height: 50%;
    color: #0065FC;
}
/* ----------- Section Hebergements ----------- */
#hebergement {
    display: flex;
    margin: 0px 20px 0px 20px;
}
#hebergement h2 {
    padding-left: 20px;
}
h2 {
    flex-basis: 100%;
}
#marseille {
	width: 65%;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	border-radius: 15px;
}
#heb-marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-hebergement {
    object-fit: cover;
	width: 230px;
    height: 140px;
	border-radius: 15px 15px 0px 0px;
}
.photo-hebergement {
    width: 230px;
    border-radius: 10px 10px;
	box-shadow: 5px 5px 10px lightgrey;
    margin: 15px;
    background: white;
}
figcaption h3, figcaption p {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
    font-size: 1rem;
}
figcaption {
    padding: 10px;
}
h3 {
    display: flex;
    align-items: flex-end;
    align-content: flex-start;
    margin-left: 40px;
    flex-basis: 100%;
}
/* ----------- Aside Populaire -----------*/
#populaire {
	width: 35%;
    margin-left: 30px;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	border-radius: 15px;
}
.titre {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.fa-chart-line {
    margin-top: 25px;
    margin-right: 40px;
}
.image-populaire {
    width: 120px;
    height: 130px;
    object-fit: cover;
    border-bottom: 0px;
	border-radius: 15px 0px 0px 15px;
	border: 5px solid #F2F2F2;
}
#populaire-marseille {
    display: flex;
    flex-direction: column;
}
.photo-populaire {
    display: flex;
	width: auto;
	height: 140px;
	border-radius: 15px;
	box-shadow: 5px 5px 10px lightgrey;
    margin-top: 40px;
    background: white;
}
.blue {
    color: #0065FC;
}
.gray {
    color: #F2F2F2;
}
.etoile-bleu {
    color: #0065FC;
}
.etoile-bleu1 {
    color: #0065FC;
}
.gris1 {
    color: #F2F2F2;
}
.gris {
    color: #F2F2F2;
}
.etoile-bleu, .gris {
    padding-top: 55px;
}
.etoile-bleu1, .gris1 {
    padding-top: 40px;
}
/* ----------- Activites Marseille -----------*/
#activites {
    margin: 40px 20px 0px 20px;
    width: auto;
}
#activites-marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-port-marseille {
    object-fit: cover;
	width: 270px;
    height: 390px;
	border-radius: 15px 10px 0px 0px;
}
.port,
.parc-national {
    width: 270px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
    margin: 0px;
}
.fort,
.ile,
.dame,
.parc {
    width: 230px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.image-fort-marseille {
    object-fit: cover;
	width: 230px;
    height: 180px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.image-ile-marseille {
    object-fit: cover;
	width: 230px;
    height: 120px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.photo-activite {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-parc-national-marseille {
    object-fit: cover;
	width: 270px;
    height: 390px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.image-dame-marseille {
    object-fit: cover;
	width: 230px;
    height: 120px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
.image-parc-marseille {
    object-fit: cover;
    width: 230px;
    height: 180px;
	border-bottom: 0px;
	border-radius: 15px 10px 0px 0px;
}
/* ----------- Footer -----------*/
footer {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 120px;
}
footer {
    background-color: #F2F2F2;
    margin-top: 40px;
}
.pied a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
}
footer a {
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

/* ####### MEDIA-QUERY ######## */

@media screen and (max-width: 320px) { /* Mobile */

    /* Header */
    body {
		margin: 0;
		padding: 0;
	}
    .logo {
		width: 60px;
		height: 30px;
		margin-left: 20px;
		margin-top: 20px;
	}
    #hautdepage {
        width: 100%;
		flex-direction: column;
		align-items: flex-start;
		border-bottom: 2px solid #F2F2F2;
		padding: 0;
		padding-bottom: 20px;
    }
	#hautdepage a {
		margin-right: 0;
		padding-right: 55px;
	}
	.inscrire {
		position: absolute;
		top: 10px;
		left: 70%;
	}
    .hebergement {
        margin-left: 15px;
    }
	.hebergement:hover, .activites:hover {
		color: #0065FC;
		border-top: none;
	}
    /*-----Section Recherche-----*/
    .recherche {
        display: none;
    }
    #recherche-marseille, #ville, #critere {
        margin-left: 10px;
    }
    #recherche-marseille h2 {
        margin-top: 20px;
        margin-left: 15px;
    }
    #recherche-marseille p {
        margin-left: 15px;
    }
    .search {
        display: initial;
    }
    .loupe {
        width: 15px;
	    background-color:#0065FC;
	    padding: 10px 15px;
	    border-radius: 0px 15px 15px 0px;
        margin-left: -5px;
        display: none;
        color: #F2F2F2;
    }
    /*-----Section Hebergement-----*/
    #hebergement {
        display: flex;
        flex-direction: column-reverse;
    }
    #marseille {
        width: 100%;
        margin-top: 20px;
    }
    .image-hebergement {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
    }
    .photo-hebergement {
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    /*------Aside Populaire-----*/
    #populaire {
        width: 100%;
        margin-left: 0px;
    }
    .photo-populaire {
        border-radius: 15px;
        box-shadow: 5px 5px 10px #F2F2F2;
        margin-top: 40px;
        display: flex;
        align-items: stretch;
        height: 100%;
        overflow: auto;
        margin: 10px 0px 10px 0px;
    }
    /*-----Activites Marseille-----*/
    .image-port-marseille,
    .image-dame-marseille,
    .image-fort-marseille,
    .image-ile-marseille,
    .image-parc-national-marseille,
    .image-parc-marseille {
        object-fit: cover;
        width: 100%;
        height: 240px;
        border-radius: 15px 10px 0px 0px;
    }
    .photo-activite {
        width: 100%;
        margin-right: 0px;
    }
    .port,
     .dame,
     .fort,
     .parc-national,
     .parc,
     .ile {
        margin: 0px;
    }
    /*-------Footer-------*/
    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 680px) { /* Mobile */
    /*---Header---*/
    body {
		margin: 0;
		padding: 0;
	}
    #boutons_menu {
        display: flex;
        justify-content: center;
    }
    #recherche-marseille, #ville, #critere {
        margin-left: 10px;
    }
    .logo {
		width: 60px;
		height: 30px;
		margin-left: 20px;
		margin-top: 20px;
	}
    #hautdepage {
        width: 100%;
		flex-direction: row;
		border-bottom: 2px solid #F2F2F2;
		padding: 0;
    }
    #boutons_menu {
        margin: 50px 360px 0px -80px;
    }
	.inscrire {
		position: absolute;
		top: 10px;
		left: 70%;
	}
    .hebergement {
        padding: 20px 20px 0px 20px;
        margin-left: 20px;
    }
    .activites {
        margin-left: 70px;
    }
	.activites:hover {
		color: #0065FC;
		border-bottom: none;
        border-top: none;
	}
    .hebergement, .activites:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        padding-bottom: 20px;
    }
    .hebergement:hover {
        border-top: none;
    }
     /*-----Section Recherche-----*/
     .recherche {
        display: none;
    }
    #recherche-marseille h2 {
        margin-top: 20px;
        margin-left: 15px;
    }
    #recherche-marseille p {
        margin-left: 15px;
    }
    .list-filtres {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .filtre {
        margin: 10px 0px 0px 5px;
    }
    .eco,
    .fam,
    .love,
    .chien {
        margin: 0px;
    }
    .Marseille {
        border: 1px solid #F2F2F2;
        width: 190px;
        padding: 10px;
        font-weight: bold;
        color: black;
        margin-left: -5px;
    }
    .search {
        display: initial;
    }
    .loupe {
        width: 15px;
	    background-color:#0065FC;
	    padding: 10px 15px;
	    border-radius: 0px 15px 15px 0px;
        margin-left: -5px;
        color: #F2F2F2;
    }
    .info {
        margin-left: 10px;
    }
    .fa-info {
        margin-top: 15px;
    }
    /*---Section Hebergement---*/
    #hebergement {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-left: -2px;
    }
    #marseille {
        width: 100%;
        margin-top: 20px;
        background: white;
        border: none;
    }
    .image-hebergement {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
    }
    .photo-hebergement {
        width: 100%;
        margin: 10px 0px 10px 0px;
        box-shadow: 5px 5px 10px lightgrey;
        background: white;
    }
    /*------Aside Populaire-----*/
    #populaire {
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
    }
    .photo-populaire {
        border-radius: 15px;
        margin-top: 40px;
        display: flex;
        align-items: stretch;
        height: 100%;
        overflow: auto;
        margin: 10px 0px 0px 0px;
        box-shadow: 5px 5px 10px lightgrey;
        background: white;

    }
     /*-----Activites Marseille-----*/
     .image-port-marseille,
     .image-dame-marseille,
     .image-fort-marseille,
     .image-ile-marseille,
     .image-parc-national-marseille,
     .image-parc-marseille {
         object-fit: cover;
         width: 100%;
         height: 140px;
         border-radius: 15px 10px 0px 0px;
     }
     .image-parc-national-marseille {
         margin-left: 0px;
     }
     .photo-activite {
         width: 100%;
         margin-right: 0px;
     }
     .port,
     .dame,
     .fort,
     .parc-national,
     .parc,
     .ile {
        margin: 0px;
    }
    .port,
     .dame,
     .fort,
     .parc-national,
     .parc,
     .ile
     {
        width: 100%;
        border-radius: 10px 10px;
        box-shadow: 5px 5px 10px #F2F2F2;
        border-radius: 0px 10px 10px 0px;
        margin-bottom: 20px;
    }
     /*-------Footer-------*/
    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .pied a {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
}

@media screen and (min-width: 680px) and (max-width: 1024px) { /* Ipad */
    
    /*----haut de page----*/
    #hautdepage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .activites,
    .hebergement {
        padding-left: 0px;
        padding-right: 40px;
    }
    /*----Section recherche----*/
    .list-filtres {
        display: flex;
        margin-top: 15px;
    }
    .filtre {
        display: flex;
        align-content: center;
        margin-left: 10px;
    }
    /*-----section hebergement-----*/
    #hebergement {
        width: 95%;
    }
    #populaire {
        width: 45%;
    }
    .etoile-bleu,
    .gris {
        padding-top: 25px;
    }
    .etoile-bleu1,
    .gris1 {
        padding-top: 5px;
    }
    /*-----activites marseille----*/
    #activites-marseille {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .image-port-marseille {
        object-fit: cover;
        width: 135px;
        height: 295px;
        border-radius: 15px 10px 0px 0px;
    }
    .image-fort-marseille {
        object-fit: cover;
        width: 135px;
        height: 90px;
        border-bottom: 0px;
        border-radius: 15px 10px 0px 0px;
        margin: auto;
    }
    .image-ile-marseille {
        object-fit: cover;
        width: 135px;
        height: 60px;
        border-bottom: 0px;
        border-radius: 15px 10px 0px 0px;
        margin: auto;
    }
    .photo-activite {
        width: 20%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .image-parc-national-marseille {
        object-fit: cover;
        width: 135px;
        height: 295px;
        border-bottom: 0px;
        border-radius: 15px 10px 0px 0px;
        margin: 0px 0px 0px 60px;
    }
    .image-dame-marseille {
        object-fit: cover;
        width: 135px;
        height: 60px;
        border-bottom: 0px;
        border-radius: 15px 10px 0px 0px;
        margin: 0px 20px 0px 0px;
    }
    .image-parc-marseille {
        object-fit: cover;
        width: 135px;
        height: 90px;
        border-bottom: 0px;
        border-radius: 15px 10px 0px 0px;
        margin: auto;
    }
    /*----footer----*/
    .pied a {
        display: flex;
        flex-direction: column;
    }

}
@media all and (min-width: 1024px) {
    .search {
        display: none;
    }
    .etoile-bleu, .gris {
        padding-top: 55px;
    }
    .etoile-bleu1, .gris1 {
        padding-top: 40px;
    }
    .list-filtres {
        display: flex;
    }
    #critere {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 2px 0px 20px;
    }
    .pied a {
        display: flex;
        flex-direction: column;
    }
}




